<!-- Page Content -->


<main class="mdl-layout__content">
<div style="position:absolute; width: 100%; height: 50px; padding:20px; background: #000; color:#fff; font-size:35px; "><center>Calendario</center></div><br/><br/><br/><br/><br/>

<script>
   if(window.localStorage.getItem("cites") == 0){
   var url = 'https://btmconsulting-api.herokuapp.com/agenda_usuario_json?Mail='+"{{user.email}}";
   $.ajax({
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
              dataz = JSON.stringify(data);
              window.localStorage.setItem("cites", dataz);

              var cites = window.localStorage.getItem("cites");

              loadView(JSON.parse(cites),'calendar-single-view','append-calendar');

            }
    });
    }else{
      var cites = window.localStorage.getItem("cites");
      loadView(JSON.parse(cites),'calendar-single-view','append-calendar');
    }
</script>

<div id="append-calendar" style="color:#000;"><center>Loading ...</center></div>




</main>